.sidebar {
    width: 40;
    height: 100%;
    dock: left;
}
#playbook_stdout {
    background: $surface;
}
#action_buttons {
    display: none;
    height: auto;
    padding-top: 1;
}
#action_buttons Button {
    width: 1fr;
}
